<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>about</title>
</head>
<body>
    <div id="mask" style="background-color:white;position:fixed;height:100%;width:100%;top:0px;left:0px;z-index:9999;pointer-events:none;" ></div>
    <div id="main">
    <h3>作者について</h3>
    ろくてらばいとと申します。少し前までりんけいと名乗ってましたができれば変えていきたいなぁと。<br>
    ところで小路綾ちゃん可愛いですよね。技術力であややを自分のPCに降臨させるのが目標です。
    そんな技術力持ち合わせていないのですけどね...その辺は上のmenuからkomichiAyaの欄を読んで頂きたく
    てか読んでくださいお願いしますそこがメインコンテンツです<br>
    お察しの通りそこまで複雑なプログラムは組めません。機械学習でAI作りたいなぁ...と淡い願望を<br>
    中身は精神病を多発させてる末期な人間です。人生詰んでます。やばめなツイート多いのでそこだけ注意...ですかね
    <h3>リンク集</h3>
    <h1><a href="https://twitter.com/komichiAyaBot" target="_blank">小路綾bot</a></h1>
    <a href="https://twitter.com/6terabyte" target="_blank">twitter(@6terabyte)</a> 
    <a href="https://twitter.com/KRT6006" target="_blank">twitter(@krt6006)</a>
    <a href="https://github.com/rinkei-krt6006?tab=repositories" target="_blank">github</a>
    <a href="https://www.youtube.com/channel/UCm9phN1Igu7-MsonQMW2oWw?view_as=subscriber" target="_blank">youtube</a>
    <h3>ページについて</h3>
    自分用の適当なwebアプリが欲しいなぁ...とhttpモジュールの最小限の機能から作り、
    cssを書いてきたらだんだんイメージが湧いて来て背景の動く四角のやつを作り、
    楽しくなってきてそのままオフ会も近いしと自己紹介と小路綾botの紹介くらいできるものを...と
    気付けばなんとなくできてました。何言ってるんですかね頭おかしいですね
    <br><br>
    powered by <a href="https://nodejs.org/ja/" target="_blank">nodejs</a>
    <br>
    use library : http fs <a href="https://jquery.com/" target="_blank">jquery</a>
    <br>
    font:
    <a href="https://fonts.google.com/?selection.family=Noto+Serif+JP:200" target="_blank">GoogleFonts</a>
    <br>
    <!--music:
    <a href="https://maoudamashii.jokersounds.com/" title="魔王魂" target="_blank">魔王魂</a>-->
    <br><br>
    当サイトではjavascriptを使用しております。javascriptの利用を許諾されない方は
    閲覧なさらないでください。
    またJS非対応ブラウザ又はJS拒否設定で閲覧された場合メニュー等正しく表示されませんので
    下記のブラウザの利用をお勧めいたします。<br>
    推奨ブラウザはfirefox、対応ブラウザはchromeです。それ以外のブラウザでは検証しておりません。
    正しく表示されていない可能性がありますのでfirefoxを使用することをお勧めいたします。
    (InternetExplorerで正しく表示できないことを確認しています。)
  </div>
    <script type="text/javascript" src="./jquery.js"></script>
    <script type="text/javascript" src="./layoutget.js"></script>
    <script type="text/javascript" src="./backmoveboxget.js"></script>
  </body>
</html>