<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="komichiayabot.css">
  <title>komichiAyaBot</title>
</head>
<body>
  
  <div id="main">
    <h3>小路綾botとは</h3>
    小路綾ちゃんの発言を解析し再構成しtwitter上であややっぽく振る舞うbotシステムです<br>
    とりあえずここのリンクを見ていただきたく思います<br>
    機能としては、10分に1度ツイートする機能、リプライに対して返答する機能を持っています<br>
    リプライも機械的に処理しているだけなのでお気軽に頂ければと思います<br>
    <a href="https://twitter.com/komichiAyaBot" target="_blank">小路綾bot</a><br>
    ソースコードはこちらからご覧いただけます<br>
    <a href="https://github.com/rinkei-krt6006/komichiAyaBot">github</a><br>
    <h3>技術的解説</h3>
    技術的解説と言ってもAIの機械学習ほど複雑な機能は実装していません。
    マルコフ連鎖という簡単なプログラムを利用しています。
    <br>
    具体例を見てみましょう<br>
    例えば以下の入力があったとします<br>
    <br><br>
    1 "それこそ気にしなくても"<br>
    2 "しのは英語苦手だから"<br>
    3 "その問題はアリスには難しすぎます"

    <br><br>
    これに形態素解析という単語ごとに区切る処理をすると以下のようになります
    <br><br>
    1 "それ/こそ/気/に/し/なくても"<br>
    2 "しの/は/英語/苦手/だから"<br>
    3 "その/問題/は/アリス/に/は/難し/すぎ/ます"
    <br><br>
    この中から、1番目の"それ/しの/その"の中からランダムで一つ選びます。ここでは2文目の"しの"が選ばれたとします。<br>
    "しの"の次は"は"です。入力された単語の中から"は"を探すと、2文目と、3文目に二つ、"は"がヒットします。<br>
    そこからランダムにどちらに進むか選びます。ここでは3文目の前側が選ばれたとします。<br>
    "は"の次は"アリス"です。入力された単語の中から"アリス"を探しますが、ほかにヒットしません。引き続き3文目を見ていきます<br>
    "アリス"の次は"に"です。入力された単語の中から"に"を探すと、1文目と3文目の"に"がヒットします。<br>
    そこからランダムに...と繰り返していくと、それらしい文章を生成することができます。<br><br>
    <img id="komichiAyaBotImg"src="komichiayabot.png">
    <br><br>
    <h3>今後について</h3>
    可能ならAI化したいです。したいですがそんな技術力ないのでマルコフ連鎖を利用しつつ品詞とか検知して精度を高められないかなぁ...とか思ってます。
    nodejsに機械学習が来るのが先か、私がpythonを覚えるのが先か...<br>
    Live2Dとか使ってデスクトップマスコットとかも作りたいと思いつつ未知の領域なので手が出せずにいます。まぁ今後の課題ですね...
    <br>
    いつの日か、私のプログラムでアヤヤを完全にエミュレート、成し遂げたいです
    <br><br>
    <script type="text/javascript" src="./jquery.js"></script>
    <script type="text/javascript" src="./layoutget.js"></script>
    <script type="text/javascript" src="./backmoveboxget.js"></script>
  </div>

</body>
</html>