<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--<link rel="stylesheet" type="text/css" href="index.css">-->
  <title>title</title>
</head>
<body>
  <div id="mask" style="background-color:white;position:fixed;height:100%;width:100%;top:0px;left:0px;z-index:9999;pointer-events:none;" ></div>
  <div id="main">
      <h3>E531系</h3>
      E531系はご存知の通り常磐線で使用されている交直両用車両です。最高速度が130km/hであったり近郊用途であるのに起動加速度が2.5km/h/sであったり、特徴的な車両であることは周知のとおりですが、製造期間が長年にわたっていることもあり仕様差がかなり激しくあります。これを紹介していきたいと思います。<br>
      編成表は以下の通りです
      <img src="kihon.png">
      <img src="fuzoku.png">
      <h3>K401-K406,K451-K456</h3>
      最初期に製造されたグループです。川崎重工と東急車両で全車平屋で製造されました。E531系の列車無線アンテナは2本搭載されているのですが、登場時は1本のみ刺さった状態で登場し、のちに増設されました。
      <img src="p1050768.jpg">
      幼少期に撮影した写真のためお見苦しい写真ですが、
      後ろのアンテナが準備工事に留められていることがお判りいただけるかと思います。<br>
      またこのグループは半自動ドアボタンの案内のステッカーがドアに張り付けられていました。
      <img src="img_1674.jpg">
      後述する組み換え後もこのグループとして製造された車両にはステッカーが残り、
      9号車のアクセントとなっていましたが2016年頃剥がされてしまいました。<br>
      このグループは川重と東急で製造されたためメーカーによる仕様差も存在しています。<br>
      画像左が川重製、右が東急製です。妻面のビードの有無、雨樋の処理に違いがみられます。
      また車番のステッカーが川重製は光沢のあるもの採用されていますが
      川重以外のものは非光沢のものが採用されています。
      <img src="20170922_190714.jpg">
      <br>
      <h3>K407-K411,K457-K466</h3>
      E531系はこのグループまで全車平屋で製造されましたが、
      このグループは将来のG車組込みを考慮した設計となりました。
      具体的には、初期車の4,5号車にはコンプレッサーの搭載されていないサハE531が連結されていますが
      これがG車に置き換えられ、将来製造される編成の9号車へ移動することになりました。
      このグループは4,5号車にコンプレッサーの搭載されたサハE530を連結しておき、
      G車に置き換えられた時は将来製造される編成の6号車に回されました。<br>
      G車を除き全車新津製です。
      <img src="img_8416.jpg">
      2016/12/27 北千住にて
      <h3>K412-K421</h3>
      G車を除き全車新津製で、新津から6両で新製され回送され、別に東急川重で製造したG車と
      前述の編成の4,5号車に連結されていたサハを6号車と9号車へ組込み10両に組成されたグループです。

      <h3>K422</h3>
      基本的にはK412-K421と大差はないです。
      ただし6号車に組み込まれているサハE530-2022、これは製造途中でG車を組み込むよう計画変更されたため
      コンプレッサーのついていないサハE531-2012が余ってしまい、CPを取り付ける改造と改番を行った車両です。
      半自動ドアの案内ステッカーが残っていたころは平屋全車についているもしくは9号車のみついている、
      というのが基本でしたがこの編成のみ6号車にもステッカーがついており異彩を放っていました。
      <h3>K467,K468</h3>
      E501系には予備車がありません。そのE501系の床下機器更新(ドレミの更新)には2か月ほど要したそうです。
      その間の予備車が不足するため製造されたグループです。前の編成から3年ほど開けての製造になりました。<br>
      列車無線アンテナが台座付きに変更されました。<br>
      台座付きアンテナとラジオアンテナが共存している編成はこの2本だけなので特徴的な編成といえるでしょう
      <img src="k467.jpg">
      <h3>K423</h3>
      上野東京ライン開業に伴い増備された編成です。
      基本編成としては実に8年ぶりの製造、横浜で製造されました。<br>
      ラジオアンテナの搭載がなくなり、側灯がクリアのものへ変更、
      トイレ内のステッカーの図柄が「！」からイラストへ変更されました
      <img src="20170905_182324.jpg">
      <img src="20180214_135608.jpg">
      <img src="20180213_124108.jpg">
      <img src="20180214_135555.jpg">
      <img src="20180213_124116.jpg">
      <img src="img_5036.jpg">
      2016/10/18 ひたち野うしくにて
      <h3>K469-K475</h3>
      K423と同じように上野東京ラインの増発前に製造されましたが、K423より少し遅れて製造されました。
      製造時期に大差はないものの、ドアチャイムの音が低いものへ変更されました。
      <h3>K551-K554</h3>
      このグループは3000番台と区分され、東北本線への投入のため仕様変更されたものと思いますが、
      製造から東北本線進出までにはかなりラグがありました。なぜこうなったのか、私にはわかりません。<br>
      3000番台としての仕様変更は、スノープラウの搭載、モーターの変更、それに伴う車体へのルーバーの設置、
      一部の座席下に片持ち式を取りやめてのヒーターの強化、などがあげられます。<br>
      これ以降の0番台にも共通する仕様変更は座席が柔らかいものへ変更されたこと、
      先頭部分の構造の変化があげられます。これについては文字で説明しきれません。
      次の画像をご覧ください。※画像に記載漏れがあります、ランボードが延長されたのもこのグループからです
      <img src="img_20170919_230953.jpg">
      <img src="img_5900.jpg">
      総合車両製作所を出場し試運転を兼ねて勝田へ送り込まれる姿 2015/10/15 南柏にて
      <img src="20170915_185339.jpg">
      <img src="20171006_182032.jpg">
      <h3>K555-K557</h3>
      前回の製造から時間を置き、再度増備された3000番台です。
      東北本線への投入に向け再度増備されたものと思われますが東北本線で使う本数以上に製造され、
      普通に常磐線品川口に来たりします。なんなんでしょうか...<br>
      前回製造からは帯に変更がありました。帯が途切れているのがお判りいただけるでしょうか
      <img src="20170919_211142.jpg">
      <h3>K424-K426,K476-K477</h3>
      2017年10月、常磐線はダイヤ改正され、
      ラッシュ時にも上野東京ラインへE531系による土浦方面からの列車が入るようになりました。
      当時通学で利用しており、この改正は非常に嬉しかった記憶があります。
      それに向け増備されたのがこのグループになります。<br>
      グリーン車を横浜で製造し、新津に回送し新津で製造した平屋8両とつないで10両で尾久まで回送、
      自走試運転で勝田へ送り込み、という面白い製造のされ方をしました。<br>
      変更点としては車内照明が蛍光灯からLEDになりました。
      <img src="20170904_194304.jpg">
      <img src="img_8513.jpg">
      2017/06/20 撮影地不詳
      <img src="img_1329.jpg">
      2017/08/20 宮原-大宮にて
      <h3>まとめ</h3>
      いかがでしたでしょうか。平凡な車にみえるE531ですが、よくよく見るとかなり面白い車両です。
      それが伝われば幸いです。<br>
      最後に編成による形態差の表と組み換えの図をお見せして終わりたいと思います。
      <img src="sc173.png">
      <img src="sc174.png">
  </div>
  <script type="text/javascript" src="./jquery.js"></script>
  <script type="text/javascript" src="./layoutget.js"></script>
  <script type="text/javascript" src="./backmoveboxget.js"></script>
<!--  <script type="text/javascript" src="./index.js"></script>-->
</body>
</html>