node_modules/
.DS_Store
.vscode

.env
._.env

nedb.db
log/log.txt

log/local.txt
log/global/*
log/rmSpecial/*
!log/global/.keep
!log/rmSpecial/.keep

blog/*
!blog/.keep
!blog/search.css
!blog/recycle
blog/recycle/*
!blog/recycle/.keep
