<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--<link rel="stylesheet" type="text/css" href="index.css">-->
  <title>title</title>
</head>
<body>
  <div id="mask" style="background-color:white;position:fixed;height:100%;width:100%;top:0px;left:0px;z-index:9999;"></div>
  <div id="main">
    sample
  </div>
  <script type="text/javascript" src="./jquery.js"></script>
  <script type="text/javascript" src="./layoutget.js"></script>
  <script type="text/javascript" src="./backmoveboxget.js"></script>
<!--  <script type="text/javascript" src="./index.js"></script>-->
</body>
</html>