<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="index.css">
  <title>いんでっくす</title>
</head>
<body>
  <div id="mask" style="background-color:white;position:fixed;height:100%;width:100%;top:0px;left:0px;"></div>
  <div id="main">
    <h1>3日で突貫で作りました いろいろと未完成ですごめんなさい</h1>
    <p>
        テストてすとtestテストてすとtestテストてすとtestテストてすとtestテストてすとtestテストてすとtest
        テストてすとtestテストてすとtestテストてすとtestテストてすとtestテストてすとtestテストてすとtest
        テストてすとtestテストてすとtestテストてすとtestテストてすとtestテストてすとtestテストてすとtest
        テストてすとtestテストてすとtestテストてすとtestテストてすとtestテストてすとtestテストてすとtest
    </p>
  </div>
  <script type="text/javascript" src="./jquery.js"></script>
  <script type="text/javascript" src="./openeffectget.js"></script>
  <script type="text/javascript" src="./layoutget.js"></script>
  <script type="text/javascript" src="./backmoveboxget.js"></script>
  <script type="text/javascript" src="./index.js"></script>

</body>
</html>