<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="index.css">
  <title>いんでっくす</title>
</head>
<body>
    <div id="mask" style="background-color:white;position:fixed;height:100%;width:100%;top:0px;left:0px;z-index:9999;pointer-events:none;" ></div>
    <div id="main">
    <h1>3日で突貫で作りました いろいろと未完成ですごめんなさい</h1>
    <h3>実籾でお会いした皆様へ</h3>
    見ての通り未完成なサイトで申し訳ないのですが、適当な自己紹介と私の制作物である小路綾botの紹介ページを作りました
    上記menuからkomichiAyaBot、aboutへお進みください
    <p></p>
  </div>
  <script type="text/javascript" src="./jquery.js"></script>
<!--  <script type="text/javascript" src="./openeffectget.js"></script>-->
  <script type="text/javascript" src="./layoutget.js"></script>
  <script type="text/javascript" src="./backmoveboxget.js"></script>
  <script type="text/javascript" src="./index.js"></script>

</body>
</html>